<table class="table table-striped">
  <tr>
    <th>Product Images</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Size</th>
    <th>Price</th>
    </tr>
    <% @product.each do | product | %>
      <tr>
        <td>
          <% unless product.images.nil? %>
            <% product.images.each do | image | %>
            <%= image_tag image.photo(:thumb) %>
            <%end%>
          <%end%>
        </td>
        <td><%= product.name %></td>
        <td><%= product.brand %></td>
        <td><%= product.size %></td>
        <td><%= product.price %></td>
        <td><%= link_to "Buy", "/purchase_item?product_id=#{product.id}"%></td>
      </tr>
    <%end%>
  </table>
<%= link_to "Add product", new_product_path%>
